/*#########
# nav-ar3 #
#########*/
#r3-nav div:nth-child(2) a {display: block;
    background-color: grey; height:100%;
    font-size: 12px; min-width: 65px;
    text-align: center; line-height: 45px}
#r3-nav div:nth-child(2) a:hover {background-color: red;}
/*#r3-web-logo {background-color: rgba(0,0,0,0) !important}*/

/*################
# SET DEFAULT TAG#
################*/
a{text-decoration:none}
a,
a:link{color:rgb(225,150,50)}
a:visited{color:rgb(200,120,0)}
a:hover{color:rgb(255,180,0)}
a:active{color:rgb(255,200,0)}
body{margin:0 !important;padding:0 !important}
body{font: 11px Tahoma, arial, sans-serif}
code{background-color:#eee; border:#ccc thin solid; padding: 2px 4px; display: inline-block; text-indent: 0; border-radius: 3px}
html{overflow-x: hidden}
img{border-radius: 6px}
ul,
ol {line-height: 180%}

/*###########
# AR3 CLASS # CLASS
###########*/
.ar3{position:relative !important; font:11px Tahoma, arial, sans-serif; letter-spacing: 0.02em;
  -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;
  -webkit-font-kerning:normal !important; font-kerning:normal !important} @media print{
.ar3{font:12px "Times New Roman"}
}
.code-r3{font:11px Consolas,monospace !important; white-space:pre !important}
.hide-r3{display:none}
.hide-toggle-r3{display:none}
.hide-not-print-r3{display:none} @media print{
.hide-not-print-r3{display:initial}
}

.absolute-r3{position:absolute}
.fixed-r3{position:fixed}
.relative-r3{position:relative}

.blue-r3{color:blue} .green-r3{color:green} .magenta-r3{color:magenta} .orange-r3{color:orange}
.purple-r3{color:purple} .red-r3{color:red} .yellow-r3{color:yellow}
.comment-r3{color:rgba(0,0,0,0.25); font-style: italic;}
.grey-r3{color:#888}

.r3-slider{overflow:auto}
.r3-slider + .r3-slider{margin-top:15px}

.just-r3{text-align:justify !important}

.math-r3{text-align:center; font-style:italic; font-family:"Times New Roman", serif; font-size:9pt}

.r3-border{border-color: orange; border-width: 3px}

.relative-container-r3 {position: relative; overflow: auto}
.relative-container-r3 > a {
    position: absolute; border: rgba(255,100,0,0.5) solid medium; cursor: pointer; display: block;
    border-radius: 6px; text-align: center}
.relative-container-r3 > a > span {position: relative; font-weight: bold; top: 40%; font-size: 1.5em}

/*##########
# AR3 JSON # CLASS
###########*/
.r3-default-object{color:magenta}
.r3-object{color:blue}
.r3-argument,
.r3-literal{color:green}
.r3-argument > .r3-object{color:green}

.r3-string{color:#4e9843}
.r3-boolean{color:#c71c2c}
.r3-number{color:#006698}

.r3-code-highlight{color:red}
.r3-depreceated{text-decoration: line-through;text-decoration-color:red}

/*#########
# ar3 TAG #
#########*/
*[title]{cursor:help}
.ar3 *:target{color:orange; transition:color 1s ease-in-out, background-color 1s ease-in-out}

/* TEST
.ar3 a{text-decoration:none}
.ar3 a:link{color:rgb(225,150,50)}
.ar3 a:visited{color:rgb(200,120,0)}
.ar3 a:hover{color:rgb(255,180,0)}
.ar3 a:active{color:rgb(255,200,0)}
*/
.ar3 b:target {color:#fff !important; background-color:#ff5722 !important; border-radius:3px; padding:0 3px 0 3px}
.ar3 blockquote{
    padding:10px 20px; margin:0 30px 0 30px; font-size:13px;
    border-left:5px solid #bbb; font-style:italic; background-color:#efefef}
.ar3 code{font:11px Consolas,monospace}
.ar3 figcaption{text-align:center; padding:0px; text-indent:0px; margin:0 0 7px 0}
.ar3 figure{
    overflow:auto; border-width:1px; border-style:solid; border-top-color:#ddd; border-right-color:#ddd;
    border-bottom-color:#999; border-left-color:#bbb; background-color:#FBFBFB}
footer {
    clear:left; text-align:center; background-color:rgb(45,45,45); color:white; height:30px; width:auto;
    left:0; right:0; padding-top:20px; z-index:10; margin:auto; overflow:hidden; padding-bottom:20px}
@media print{
.ar3 h1,
.ar3 h1 + h4{border:none !important}
.ar3 h1,
    .ar3 h2,
    .ar3 h3,
    .ar3 h4,
    .ar3 h5,
.ar3 h6{font-family: "Times New Roman", serif !important; text-transform: capitalize; border: none !important; text-align: left !important; color: black}
}
.ar3 h3,
.ar3 h4,
.ar3 h5,
.ar3 h6{font-weight:lighter; background-color:RGB(33,33,33); color:RGB(230,230,230); border-radius:8px; padding:6px; margin:10px 1% 10px 1%; text-align:center; font-family:"DejaVu Sans","Trebuchet MS",arial,sans-serif}
.ar3 hr{height:0; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; margin:15px 5% 15px 5%; border:0; border-top:1px solid #aaa}
.ar3 kbd{
    padding:1px 10px; font: 90% Consolas,monospace; color:#fff; background-color:#333;
    background-image:linear-gradient(rgb(130,130,130), rgb(20,20,20) 85%, black); border-radius:3px;
    -webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.25); box-shadow:inset 0 -1px 0 rgba(0,0,0,.25); line-height:1.7em}
p {line-height: 18px}
pre{
    color:#333; background-color:#f5f5f5; border:1px solid #ccc; border-radius:4px;
    display:block; margin:3px 0 3px 0; padding:3px; word-break:break-all; word-wrap:break-word;
    overflow:auto; font:11px Consolas, monospace}
s{text-decoration-color:red}
.ar3 span[id] {font-weight:bold}
.ar3 video{border-radius:6px}

/*###########
# AR3 ASIDE #
###########*/
.ar3 > aside{
    overflow:auto; border-radius:10px 0 0 10px;
    border:2px solid #666;
    float:left;
    height:93vh;
    margin: 2px 0 15px 1%;
    padding:15px 5px 20px 8px;
    width:13%} @media screen and (max-width:722px){
.ar3 > aside{display:none}
} @media print {
.ar3 > aside{display:none}
}

.ar3 div.r3-aside-replacement{
    border:2px solid rgba(0,0,0,0);
    float:left;
    height:91vh;
    margin:2px 0 15px 1%;
    padding:15px 5px 20px 8px;
    width:13%;
} @media screen and (max-width:722px){
.ar3 div.r3-aside-replacement{display:none}
} @media print {
.ar3 div.r3-aside-replacement{display:none}
}


.ar3 > aside.r3-dynamic-before{position:static}
.ar3 > aside.r3-dynamic-on{position:fixed;top:0}
.ar3 > aside.r3-dynamic-after{position:absolute;bottom:0 !important}

.ar3 > aside > * >  nav + a{margin-top:4px}
.ar3 > aside > nav{border:1px solid #999; background-color:#bbb}
.ar3 > aside > nav a{margin:2px 0 2px 8px; display:block; padding:2px 0 2px 7px}
.ar3 > aside > a + a,
    .ar3 > aside > nav + a ,
    .ar3 > aside > nav + .r3-accordion + a
{margin-top:10px}
.ar3 > aside > nav nav{margin:2px 0 2px 8px; border-bottom:solid thin black; border-left:thin grey solid; border-bottom-left-radius:4px}
.ar3 > aside *:not(h3){transition:background-color 0.4s ease-in-out,color 0.4s ease-in-out}
.ar3 > aside a{display:block; background-color:#363636; padding:3px 0 3px 8px}
.ar3 > aside a:hover{color:#fff !important;background-color:#ff5722 !important; transition:color 0.5s ease-in, background-color 0.3s}
.ar3 > aside h3{
    text-align:left; font-family:sans-serif; background-color:inherit; color:black; font-weight:bold;
    border-radius:0; margin:1px 0 7px 0px; border-left:2px solid grey; border-top:2px solid grey;
    border-top-left-radius:8px; transition:background-color 1s ease-in-out,color 1s ease-in-out}

/*############
# AR3 HEADER #
############*/
header{padding-left:60px} @media screen and (max-width:722px){
header{padding-left:15px}
}
header h1{
    font-size:90px; font-weight:100; border-left:solid orange thick; margin-top:20px; margin-bottom:0; margin-right:3.6%;
    display:block; padding-left:15px; padding-top:28px;
    /*background-image:url(../../media/image/gambarLatar/latarJudul.png);*/
    background-image:url('https://image.ibb.co/jGF34Q/latar_Judul.png');
    background-attachment:fixed; border-right:solid #ddd thin}
header h4{
    margin-left:0; text-align:left; margin-top:0; margin-right:3.6%; border-top-left-radius:0; padding-left:20px;
    border-left:solid orange thick; border-bottom:solid orange 2px; border-bottom-left-radius:12px; border-top-right-radius:0; border-bottom-right-radius:0}
header p{max-width:450px; text-indent:-20px; text-align:justify}
header p:first-letter{font-size:24px; margin-left:60px}
header table{border-left:solid thick orange; border-top:solid 2px orange; border-top-left-radius:8px}
header table > a{background-color:#333; border-radius:3px; padding-left:4px; padding-right:4px}

/*##########
# AR3 LIST #
##########*/
li,
ol{text-align:justify}
li > pre{margin-bottom:13px}
li > table{margin-bottom:10px}
ul{list-style-type:circle}
p + ul,
p + ol{margin-top:2px}
ul > ul{list-style-type:disc}
ul > ul,
ul > ol,
ol > ul,
ol > ol{padding-left:12px; margin-top:2px}

/*###########
# AR3 MAIN  #
###########*/

.ar3 > aside + main{width:79%} @media print{
.ar3 > aside + main{width:auto}} @media screen and (max-width:722px){
.ar3 > aside + main{width:95%;}
}
.ar3 > main{
    border:2px solid #666; border-radius:10px; float:left; /*height:94vh;*/
    margin:2px 1% 15px 0.4%; overflow:auto; padding:15px 5px 15px 5px; width:95vw;} @media print{
.ar3 > main{height :auto; width:auto; border:none}} @media screen and (max-width:722px){
.ar3 > main{margin-left:15px;width:88vw}
}

.ar3 > main > div{padding:3px 0 35px 0} @media print{
.ar3 > main > div:first-child > h2{page-break-before: avoid}
}
.ar3 > main > div:nth-of-type(odd){
    background-color:rgba(0,0,0,0.05); border-bottom-right-radius:10px; border-top-left-radius:10px; border-left:solid 2px orange; border-top:solid 1px orange}
.ar3 > main > div:nth-of-type(even){
    background-color:rgba(0,0,0,0.1); border-right:solid 2px orange; border-top:1px solid orange; border-bottom-left-radius:10px; border-top-right-radius:10px}
.ar3 > main > div:last-child{border-bottom:3px orange solid; border-bottom-left-radius:12px; border-bottom-right-radius:12px}
.ar3 > main > div > h2{
    background-color:#222; border-bottom:ridge thick grey; border-right:solid thin grey; border-radius:0 2px 60px 0;
    color:white; font:400 40px Calibri; padding-top:6px; padding-left:6px; margin-top:20px; margin-right: 30%; margin-bottom: 3px} @media print{
.ar3 > main > div > h2{color:black; page-break-before:always; -webkit-page-break-before:always; border:none}
.ar3 > main > div > h2 ~ *:not(h2){margin-left: 40px}
}
.ar3 > main > div > h2 + marquee{background-color:#333; color:#ddd; margin-right:40%; margin-top:3px; border-bottom-right-radius:20px}
.ar3 > main > div > h2 + marquee + marquee{background-color:#555; color:#ccc; margin-right:50%; margin-top:3px; border-bottom-right-radius:20px}
.ar3 > main > div > h2 + marquee + marquee + marquee{background-color:#777; color:#bbb; margin-right:60%; margin-top:3px; border-bottom-right-radius:20px}
.ar3 > main > div > h3{
    border-bottom-left-radius:0; border-bottom-right-radius:0; background-color:#363636;
    cursor:pointer; margin-bottom:0; transition:color 1s ease-in} @media print{
.ar3 > main > div > h3{border:thin black solid; border-bottom:none; color:black; font-weight:bold}
}
.ar3 > main > div > h3:before{content:'\2796'; float:left; font-size:10px; color:#F1F1F1; padding-left:13px}
@media print{
.ar3 > main > div > h3 ~ *:not(h2),
.ar3 > main > div > h3 ~ *:not(h3){margin-left: 60px}
.ar3 > main > div > hr,
.ar3 > main > div > marquee{display: none !important}
}
.ar3 > main > div > h3.r3-active {background-color:rgb(171,171,171); border-bottom-left-radius:8px; border-bottom-right-radius:8px}
.ar3 > main > div > h3.r3-active:before {content:'\02795'; background-color:transparent}
.ar3 > main > div > h3.r3-active:target {color:rgba(25,25,25,1.00)}
.ar3 > main > div > marquee + hr
    .ar3 > main > div > p + hr,
.ar3 > main > div > ul + hr{margin-top:13px; margin-left:7px; border-radius:4px; padding:1px}
.ar3 > main > div > section > h4{
    text-align:left; display:inline-block; border-radius:0; padding: 3px; padding-left: 30px;
    margin-left: -12px; margin-bottom:0; background-color:rgba(70,70,70,1.00); border-bottom:double orange thin;
}
.ar3 > main > div > p{padding-left:23px; text-indent:36px; text-align:justify; max-width:360px}

.ar3 > main > div > p:first-letter{font-size:24px} @media print{
.ar3 > main > div > p:first-letter{font-size:11px}
}
.ar3 > main > div > section{
    border:1px solid #4f4f4f; border-radius:0 0 10px 10px; padding:5px 10px 10px 15px;
    margin:0 1% 15px 1%; background-color:#fafafa; overflow:hidden} @media print{
.ar3 > main > div > section{border: none !important}
}
.ar3 > main > div > section > div > h4{
    text-align:left; display:inline-block; border-radius:0; padding:3px; padding-left:30px;
    margin-left:-12px; margin-bottom:0; background-color:rgba(70,70,70,1.00); border-bottom:double orange thin}
.ar3 > main > div > section > h4,
.ar3 > main > div > section > hr + h4{margin-top: 4px}
@media print{
.ar3 > main > div > section > h4 ~ *:not(h4){margin-left: 70px}
}
.ar3 > main > div > section > h4:first-child,
.ar3 > main > div > section > div:first-child + h4{margin-top: 20px}
.ar3 > main > div > section > p{max-width:380px; text-align:justify; text-indent:20px}
.ar3 > main > div > section > p > b[id],
.ar3 > main > div > section > ul b[id]{background-color:#666; color:white; padding-left:2px; padding-right:2px; border-radius:3px}
.ar3 > main > div > section > ul li{margin-top:1px}
.ar3 > main > div > section  table.filter-r3 > thead > tr > td > input{width: 15px; border-radius:50%}
.ar3 > main > div > section  table.filter-r3 > thead > tr > td > input:focus{width: 100px; border-radius:3%}
.ar3 > main > div > ul{margin-left:15px}
.ar3 > main > p{margin-left:23px}

/*##########
# AR3 MENU #
##########*/
button{cursor:pointer, font:11px calibri, arial sans-serif}
input,
    option,
    select,
    textarea{font:13px calibri, arial, sans-serif; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-kerning:normal !important; font-kerning:normal !important}
form{cursor:default}
input[type=number],
    input[type=text],
    input[type=url],
    select{font-size:9px}
input[type=number]:focus,
    input[type=text]:focus,
    input[type=url]:focus,
    select:focus{font-size:13px}
label{font-weight:bold}

/*###########
# ar3 table > #
###########*/
.ar3 h4 + .r3-slider{margin-top: 10px}
.ar3 table{border-collapse:collapse; margin-top:3px; table-layout:fixed; border-bottom:solid thin #949494}
.ar3 table > caption{border:grey thin solid; border-bottom:none; border-radius:6px 6px 0 0; font-weight:bold; font-size:1.02em; padding:0.3em}
.ar3 table > pre{margin:1px 0 1px 0; padding:1px}
.ar3 table > * > tr > *{padding-left:5px; padding-right:5px}
.ar3 table > * > tr:first-child{border-top:solid thin #949494}
.ar3 table > tbody > th{text-align:left}
.ar3 table > tbody > tr.hide-r3 + tr:not(.hide-r3){border-top: thin solid rgba(0,0,0,0.1)}
.ar3 table > tbody > tr:nth-of-type(even){background-color:#E5E5E5}
.ar3 table > tbody > tr:nth-of-type(odd){background-color:#F5F5F5}
.ar3 table > tbody > tr > td{height:25px}
.ar3 table > tbody > tr > td[rowspan]{background-color:#ededed}
.ar3 table > tbody > tr > *{border-right:rgba(0,0,0,0.02) thin solid}
.ar3 table > tbody > tr > *:last-child{border-right:none}
.ar3 table > thead > tr > th{text-align:center; background-color:rgba(83,83,83,1.00); color:rgba(224,224,224,1.00);height:18px} @media print{
.ar3 table > thead > tr > th{color:black}
}
.ar3 table > thead > tr > th[colspan]{border-bottom:grey thin solid}
.ar3 table > thead > tr > th[rowspan]{border-left:grey thin solid}
.ar3 table > thead > tr > th[rowspan] + th{border-left:grey thin solid}
.ar3 table > thead > tr > th[rowspan]:first-child{border-left:none}
.ar3 table > thead > tr:nth-child(2) th{border-left:grey thin solid}
.ar3 table > thead > tr >  td > *{display:block; margin:auto}

table.column-1-code tbody > tr > *:first-child,
    table.column-2-code tbody > tr > *:nth-child(2),
    table.column-3-code tbody > tr > *:nth-child(3),
    table.column-4-code tbody > tr > *:nth-child(4),
    table.column-5-code tbody > tr > *:nth-child(5),
    table.column-6-code tbody > tr > *:nth-child(6),
    table.column-7-code tbody > tr > *:nth-child(7),
    table.column-8-code tbody > tr > *:nth-child(8),
    table.column-9-code tbody > tr > *:nth-child(9),
    table.column-10-code tbody > tr > *:nth-child(10),
    table.column-last-code tbody > tr > *:last-child
{font:11px Consolas,monospace; white-space:pre}

table.column-1-just tbody > tr > *:first-child,
    table.column-2-just tbody > tr > *:nth-child(2),
    table.column-3-just tbody > tr > *:nth-child(3),
    table.column-4-just tbody > tr > *:nth-child(4),
    table.column-5-just tbody > tr > *:nth-child(5),
    table.column-6-just tbody > tr > *:nth-child(6),
    table.column-7-just tbody > tr > *:nth-child(7),
    table.column-8-just tbody > tr > *:nth-child(8),
    table.column-9-just tbody > tr > *:nth-child(9),
    table.column-10-just tbody > tr > *:nth-child(10),
    table.column-last-just tbody > tr > *:last-child
{text-align:justify}

td.r3-multi-row{background-color:rgb(237,237,237)}
td.r3-multi-row-last{border-bottom:thin solid  grey}
tr.r3-multi-row{border-top:thin solid rgb(200,200,200)}

tr.blank-r3{background-color:transparent !important}
tr.blank-r3 > td,
    tr.blank-r3 > td[colspan]
{border:none; padding-top:1em; padding-bottom:0.3em}

/*###############
# AR3 ACCORDION # SCRIPTED
###############*/
aside span.r3-accordion{float:left; position:relative; left:8px; top:2px; cursor:pointer; background-color:rgba(0,0,0,0)}
aside span.r3-accordion + a{padding-left:10px}
aside > nav + .r3-accordion{top:12px}
aside nav > .r3-accordion{left:16px}
.r3-short-code{font-size:11px; cursor:pointer; background-color:rgba(0,0,0,0.05); border:grey thin solid; border-radius:4px; color:rgba(0,0,0,0.6); display:block}
.r3-accordion:before{ content:'\02795'; font-size:8px; color:#F1F1F1; margin-right:3px; margin-left:-6px}
.r3-accordion.r3-active:before{content:'\2796'}
.r3-accordion.w3-khakiAR:before{color:#000}

/*##########
# AR3 FLEX # SCRIPTED
##########*/
.ar3 .flex-r3{display:-webkit-flex; display:flex}
.ar3 div.flex-r3{flex-wrap:wrap; border:grey thin solid; background-color:rgba(0,0,0,0.1); border-radius:8px; overflow:auto}
.ar3 div.flex-r3 > div{
    margin:2px; border:grey thin solid; background-color:rgb(240,240,240); padding:4px;
    border-radius:6px; text-align:center; color:rgba(0,0,0,0.3); font-weight:normal}
.ar3 div.flex-r3 > b{line-height:2; padding-left:2%; font-size:14px; display:inline-block; width:95%; color:rgba(0,0,0,0.75)}
.ar3 div.flex-r3 > hr{width:98%; color:rgba(0,0,0,0.1); margin-top:7px; margin-bottom:4px; margin-right:2%; margin-left:2%}
.ar3 div.flex-r3 pre{text-align:left}
.ar3 div.flex-r3 > div > b{color:rgba(0,0,0,0.6)}
.ar3 div.flex-r3 > div > b > b{color:rgb(0,0,0)}
.ar3 div.flex-r3 > div > div{background-color:white; border:grey thin solid; padding:4px; font-weight:normal; border-radius:6px; color:#000; text-align:left; margin:auto}

/*##########
# AR3 TAB  # SCRIPTED
##########*/

/* tab-r3 functionality*/
.ar3 .tab-r3 > div:nth-child(2) > div{display:none}
.ar3 .tab-r3 > div:nth-child(2) > div:first-child{display:block}

/* tab-r3 style*/
.ar3 .tab-r3{margin:5px 0 5px 0; overflow:hidden; max-width:98%; border-radius:8px; border:solid thin grey}
.ar3 .tab-r3 a.r3-active{background-color:#fafafa !important; color:black; font-weight:bold}
.ar3 .tab-r3 > nav{background-color:#535353}
.ar3 .tab-r3 > nav > *{display:inline-block; border-radius:4px 4px 0 0; padding:7px 6px; margin:0}
.ar3 .tab-r3 > nav > a{transition:color 0.4s ease-in, background-color 0.4s ease-out;font-weight: bold; cursor:pointer}
.ar3 .tab-r3 > nav > span{color:white}
.ar3 .tab-r3 > nav > *:first-child{border-top-left-radius:8px}
.ar3 .tab-r3 > nav > *:last-child{border-top-right-radius:8px}
.ar3 .tab-r3 > nav > a:hover{color:#fff; background-color:#ff5722}
.ar3 .tab-r3 > nav > a.r3-active:hover{color:#000}
.ar3 .tab-r3 > div:nth-child(2) {background-color: #fff}
.ar3 .tab-r3 > div:nth-child(2) > div:target{color:black}
.ar3 .tab-r3 > div:nth-child(2) > div{padding:6px}

/* tab-r3 special case for example inside table has color that is lighter*/
.ar3 table .tab-r3 > nav{background-color:#747474}

/*##########
# W3 CLASS # IMPORTED from w3.css
##########*/
.w3-amber,.w3-hover-amber:hover{color:#000 !important;background-color:#ffc107 !important}
.w3-aqua,.w3-hover-aqua:hover{color:#000 !important;background-color:#00ffff !important}
.w3-blue,.w3-hover-blue:hover{color:#fff !important;background-color:#2196F3 !important}
.w3-light-blue,.w3-hover-light-blue:hover{color:#000 !important;background-color:#87CEEB !important}
.w3-brown,.w3-hover-brown:hover{color:#fff !important;background-color:#795548 !important}
.w3-cyan,.w3-hover-cyan:hover{color:#000 !important;background-color:#00bcd4 !important}
.w3-blue-grey,.w3-hover-blue-grey:hover{color:#fff !important;background-color:#607d8b !important}
.w3-green,.w3-hover-green:hover{color:#fff !important;background-color:#4CAF50 !important}
.w3-light-green,.w3-hover-light-green:hover{color:#000 !important;background-color:#8bc34a !important}
.w3-indigo,.w3-hover-indigo:hover{color:#fff !important;background-color:#3f51b5 !important}
.w3-khaki,.w3-hover-khaki:hover{color:#000 !important;background-color:#f0e68c !important}
.w3-lime,.w3-hover-lime:hover{color:#000 !important;background-color:#cddc39 !important}
.w3-orange,.w3-hover-orange:hover{color:#000 !important;background-color:#ff9800 !important}
.w3-deep-orange,.w3-hover-deep-orange:hover{color:#fff !important;background-color:#ff5722 !important}
.w3-pink,.w3-hover-pink:hover{color:#fff !important;background-color:#e91e63 !important}
.w3-purple,.w3-hover-purple:hover{color:#fff !important;background-color:#9c27b0 !important}
.w3-deep-purple,.w3-hover-deep-purple:hover{color:#fff !important;background-color:#673ab7 !important}
.w3-red,.w3-hover-red:hover{color:#fff !important;background-color:#f44336 !important}
.w3-sand,.w3-hover-sand:hover{color:#000 !important;background-color:#fdf5e6 !important}
.w3-teal,.w3-hover-teal:hover{color:#fff !important;background-color:#009688 !important}
.w3-yellow,.w3-hover-yellow:hover{color:#000 !important;background-color:#ffeb3b !important}
.w3-white,.w3-hover-white:hover{color:#000 !important;background-color:#fff !important}
.w3-black,.w3-hover-black:hover{color:#fff !important;background-color:#000 !important}
.w3-grey,.w3-hover-grey:hover{color:#000 !important;background-color:#9e9e9e !important}
.w3-light-grey,.w3-hover-light-grey:hover{color:#000 !important;background-color:#f1f1f1 !important}
.w3-dark-grey,.w3-hover-dark-grey:hover{color:#fff !important;background-color:#616161 !important}
.w3-pale-red,.w3-hover-pale-red:hover{color:#000 !important;background-color:#ffe7e7 !important}
.w3-pale-green,.w3-hover-pale-green:hover{color:#000 !important;background-color:#e7ffe7 !important}
.w3-pale-yellow,.w3-hover-pale-yellow:hover{color:#000 !important;background-color:#ffffd7 !important}
.w3-pale-blue,.w3-hover-pale-blue:hover{color:#000 !important;background-color:#e7ffff !important}
