/*################
// ar3-tab-1.css  #
################*/
/*--------------------------
https://arza-3d.github.io/ar3.js/

<link href="https://rawgit.com/Arza-3d/ar3js/master/modular/tab/ar3-tab-1.css" rel="stylesheet" type="text/css">
--------------------------*/

/* .tab-r3 functionality */
.tab-r3 > div > div {display:none}
.tab-r3 > div > div:first-child {display:block}

/* .tab-r3 style*/
.tab-r3 {
    margin:5px 0 5px 0;
    overflow:hidden;
    max-width:98%}
.tab-r3 a.r3-active{
    background-color:#fafafa !important;
    color:black;
    font-weight:bold
}
.tab-r3 {
    border-radius:8px;
    border:solid thin grey
}
.tab-r3 > .r3-tab-content > div:target {color:black}
.tab-r3 > nav {
    background-color:#2c3236;
    border-radius:8px 8px 0 0
}
.tab-r3 > nav > * {
    display:inline-block;
    border-radius:4px 4px 0 0;
    padding:7px 6px;
    margin:0
}
.tab-r3 > nav > a{
    transition:color 0.4s ease-in,
    background-color 0.4s ease-out;
    cursor: pointer
}
.tab-r3 > nav > span {color:white}
.tab-r3 > nav > *:first-child {border-top-left-radius:8px}
.tab-r3 > nav > *:last-child {border-top-right-radius:8px}
.tab-r3 > nav > a:hover {color:#fff; background-color:#ff5722}
.tab-r3 > nav > a.r3-active:hover {color:#000}
.tab-r3 > div > div {padding:6px}

/* miscellaneous */
body {font: 11px Tahoma, arial, sans-serif}
a {text-decoration:none}
a,
a:link {color:rgb(225,150,50)}
a:visited {color:rgb(200,120,0)}
a:hover {color:rgb(255,180,0)}
a:active {color:rgb(255,200,0)}
p {
    max-width: 360px;
    text-align: justify;
    line-height: 18px
}
