$aCodeImgSize : 17px;

*[title] {
    cursor: help;
}

a > code {
    color: inherit;
    > img {
        border-radius: 2px;
        display: inline-block;
        height: $aCodeImgSize;
        margin-right: 3px;
        width: $aCodeImgSize;
    }
}

code code {
    background-color: transparent;
    border: none;
}

ol, ul {

    ol {
        list-style-type: lower-alpha;
    }

    ul {
      list-style-type: disc;
    }

}

.mjx-math {
    font-size: 11pt;
}

#r3-web-logo img {
    border: none;
}
