@import 'C:/Users/arza3/Documents/js doc/ar3js/stylesheets/base/colors';
@import 'C:/Users/arza3/Documents/js doc/ar3js/stylesheets/base/typography';
@import 'C:/Users/arza3/Documents/js doc/ar3js/stylesheets/components/r3-aside-nav-1';

$main-div-h3-border-radius : 8px;

main {

    border:2px solid #666;
    border-radius:10px;
    float:left;
    margin:2px 1% 15px 0.4%;
    overflow:auto;
    padding:15px 5px 15px 5px;
    min-height: $aside-main-height;

    > div {
        $main-div-left-padding : 2%;
        $section-side-padding : 15px;

        margin-top: 0;
        margin-bottom: 0;
        padding: 10px $main-div-left-padding;

        > section {
            border: 1px solid map-get($main-color, section-border);
            border-radius: 0 0 10px 10px;
            padding: $section-side-padding 10px 10px $section-side-padding;
            background-color: map-get($main-color, section-bg);
            overflow: hidden;

            > h4 {
                background-color: map-get($main-color, h3-bg);
                color: map-get($main-color, h3);
                font-weight: normal;
                margin-left: -15px;
                padding: 3px 3px 3px $section-side-padding;
                //width: fit-content; this only works in Chrome
                display: table; // works everywhere
            }
        }

        > h2 {
            background-color: map-get($main-color, h2-bg);
            border-bottom: ridge thick map-get($main-color, h2-border);
            border-right: solid thin map-get($main-color, h2-border);
            border-radius: 0 2px 60px 0;
            color: map-get($main-color, h2);
            font: 400 25px map-get($main-font, h2-font);
            margin: 20px 30% 3px 0;
            margin-left: -$main-div-left-padding;
            padding: 6px 0 0 6px;
        }

        > h3 {
            color: map-get($main-color, h3);
            border-radius: $main-div-h3-border-radius $main-div-h3-border-radius 0 0;
            padding: 6px;
            margin: 10px 0 10px 0;
            text-align: center;
            font-family: map-get($main-font, h3-font);
            background-color: map-get($main-color, h3-bg);
            cursor: pointer;
            margin-bottom: 0;
            transition:color 1s ease-in;
            font-weight: normal;

        }

    }

    > div:nth-of-type(odd) {
        background-color: rgba(0,0,0,0.05);
        border-bottom-right-radius:10px;
        border-top-left-radius:10px;
        border-left:solid 2px map-get($main-color, div-border);
        border-top:solid 1px map-get($main-color, div-border);
    }

    > div:nth-of-type(even) {
        background-color: rgba(0,0,0,0.1);
        border-right:solid 2px map-get($main-color, div-border);
        border-top:1px solid map-get($main-color, div-border);
        border-bottom-left-radius:10px;
        border-top-right-radius:10px;
    }

}
