@import 'D:/DOC/WAMP/www/ar3js/stylesheets/base/typography';
@import 'r3-aside-nav-1';

.r3-accordion-B::before {
    content: '-';
}



.r3-accordion-B.r3-active::before {
    content: '+';
}

.r3-accordion-B {
    color: white;
    cursor: pointer;
    float: left;
    font: 14px $monospace;
    position: relative;
}

.r3-aside-nav {

    .r3-accordion-B {
        padding: 1px 3px 1px 2px;
    }

    nav + .r3-accordion-B + a {
        margin-top: $nav-a-top-margin;
    }

    .r3-accordion-B {
        top: $nav-a-top-margin;
    }

    .r3-accordion-B:first-of-type {
        top: 0;
    }


}
