@import 'D:/DOC/WAMP/www/ar3js/stylesheets/base/colors';
//max-width:722p and aside will be none in the early ar3

$aside-main : 98vh;

.r3-aside-nav {

    border: 2px solid map-get($aside-color, border);
    border-radius:10px 0 0 10px;
    box-sizing: border-box;
    float: left;
    height: $aside-main;
    overflow: auto;
    padding: 10px 0 0 5px;
    width: 17%;
    margin-right: 1%;

    * {
        overflow-y: auto;
    }

    nav {
        border:1px solid map-get($aside-color, nav-border);
        border-right: none;
        background-color: map-get($aside-color, nav-bg);
        padding: 0 0 2px 4%;

        > a {
            margin-top: 2px;
        }

        + a {
            margin-top: 6px;
        }

    }

    a {
        background-color: map-get($aside-color, a-bg);
        display: block;
        padding: 3px 0 3px 4px;

        + a {
            margin-top: 2px;
        }

        + nav {
            margin-top: 0px;
        }

    }

    a:hover {
        color: map-get($aside-color, a-hov) !important;
        background-color: map-get($aside-color, a-hov-bg) !important;
        transition:color 0.5s ease-in, background-color 0.3s;
    }

}

.r3-aside-replacement {
    @extend .r3-aside-nav;
    display: none;
    position: static;
}

.aside-nav-target-r3 {
    border:2px solid #666;
    border-radius:10px;
    box-sizing: border-box;
    float:left;
    height: $aside-main;
    margin: 0 1% 15px 0%;
    overflow: auto;
    padding:15px 5px 15px 5px;
    width:79%;

}
