@import 'C:/Users/arza3/Documents/js doc/ar3js/stylesheets/base/colors';

.r3-short-code {
    background-color: map-get($short-code-color, button-bg);
    border: grey thin solid;
    border-radius: 4px;
    color: map-get($short-code-color, button-c);
    cursor: pointer;
    display: block;
    font-size: 11px;
}
