@import 'D:/DOC/WAMP/www/ar3js/stylesheets/base/colors';
@import 'r3-aside-nav-2';


.r3-aside-nav-button {
    background-color: map-get($aside-color, a-bg);
    border-radius: 0 50% 50% 0;
    cursor: pointer;
    display: block;
    font-size: 18px;
    padding: 3px 9px 3px 0;
    position: absolute;
    z-index:3;
}

.r3-aside-nav-button:hover {
    background-color: map-get($aside-color, a-hov-bg);
}
/*
.r3-aside-nav {

    + button {
        position: fixed;
    }

    + button::before {
        content: '&#9665;';
    }

    + button.r3-active::before {
        content: '&#9655;';
    }

}

.r3-aside-nav.r3-dynamic-on {

    + button {
        position: fixed;
    }

}

.r3-aside-nav.r3-dynamic-after {

    + button {
        position: absolute;
    }

}
*/
