@import 'C:/Users/arza3/Documents/js doc/ar3js/stylesheets/base/colors';
@import 'C:/Users/arza3/Documents/js doc/ar3js/stylesheets/base/typography';
@import 'C:/Users/arza3/Documents/js doc/ar3js/stylesheets/layout/main';

/*
main > div > h3::before {
    content: '-';
    float: left;
    font-family: $monospace;
}

main > div > h3.r3-active {
    border-radius: $main-div-h3-border-radius;
}

main > div > h3.r3-active::before {
    content: '+';
}
*/

main {
    > div {

        > h3::before {
            content: '-';
            float: left;
            font-family: $monospace;
        }

        > h3.r3-active {
            border-radius: $main-div-h3-border-radius;
            background-color: map-get($main-color, h3-bg-active);
        }

        > h3.r3-active::before {
            content: '+';
        }

    }
}
