@import 'D:/DOC/WAMP/www/ar3js/stylesheets/base/colors';
@import 'D:/DOC/WAMP/www/ar3js/stylesheets/base/typography';
@import 'r3-aside-nav-2';


.r3-aside-nav-button {
    background-color: map-get($aside-color, a-bg);
    border-radius: 0 50% 50% 0;
    cursor: pointer;
    display: block;
    font-size: 18px;
    padding: 3px 9px 3px 0;
    position: absolute;
    z-index:3;
}

.r3-aside-nav-button:hover {
    background-color: map-get($aside-color, a-hov-bg);
}

.r3-aside-nav {
    transition: margin-left 0.5s;

    h3 {
      text-align: left;
      font-family: $sans-serif;
      background-color: inherit;
      color: black;
      font-weight: bold;
      border-radius: 0;
      margin: 1px 0 7px 0px;
      border-left: 2px solid grey;
      border-top: 2px solid grey;
      border-top-left-radius: 8px;
      padding: 6px;
      transition: background-color 1s ease-in-out,color 1s ease-in-out;
    }
}

.aside-nav-target-r3 {
    transition: width 0.5s
}
