@import 'D:/DOC/WAMP/www/ar3js/stylesheets/base/colors';


$aside-main-border-radius: 10px;
$aside-main-height : 98vh;
$aside-main-border-thick: 2px;
$aside-overflow: auto;
$aside-width: 17%;
$nav-a-top-margin: 10px;

.r3-aside-nav {

    border: $aside-main-border-thick solid map-get($aside-color, border);
    border-radius: $aside-main-border-radius 0 0 $aside-main-border-radius;
    box-sizing: border-box;
    float: left;
    height: $aside-main-height;
    overflow: $aside-overflow;
    padding: 10px 0 0 5px;
    width: $aside-width;
    /*margin-right: 1%;*/

    * {
        overflow-y: auto;
    }

    nav {
        border:1px solid map-get($aside-color, nav-border);
        border-right: none;
        background-color: map-get($aside-color, nav-bg);
        padding: 0 0 2px 4%;

        > a {
            margin-top: 2px;
        }

        + a {
            margin-top: $nav-a-top-margin;
        }

    }

    a {
        background-color: map-get($aside-color, a-bg);
        display: block;
        padding: 3px 0 3px 4px;
        overflow: initial;

        + a {
            margin-top: 2px;
        }

        + nav {
            margin-top: 0px;
        }

    }

    a:hover {
        color: map-get($aside-color, a-hov);
        background-color: map-get($aside-color, a-hov-bg);
        transition:color 0.5s ease-in, background-color 0.3s;
    }

}

.aside-nav-target-r3 {
    border: $aside-main-border-thick solid map-get($aside-color, border);
    border-radius: $aside-main-border-radius 0 0 $aside-main-border-radius;
    box-sizing: border-box;
    float:left;
    height: $aside-main-height;
    margin: 0 1% 0 1%;
    overflow: $aside-overflow;
    padding:15px 5px 15px 5px;
    width:79%;

}
