.r3-aside-nav {
    border: grey thin solid;
    min-height: 98vh;
    width: 15%;
    float: left;
    box-sizing: border-box;
}

.aside-nav-target-r3 {
    border: grey thin solid;
    float: left;
    width: 70%;
    padding: 10px;
    min-height: 98vh;
    box-sizing: border-box;
}

aside a {
    display: block;
}
