/*################
// ar3-tab-1.css  #
################*/
/*--------------------------
https://arza-3d.github.io/ar3.js/

<link href="https://rawgit.com/Arza-3d/ar3js/master/modular/aside-nav/ar3-aside-nav-1.css" rel="stylesheet" type="text/css">
--------------------------*/

.r3-aside-nav {
    border: grey thin solid;
    box-sizing: border-box;
    float: left;
    min-height: 98vh;
    overflow: auto;
    width: 21%;
}

.aside-nav-target-r3 {
    border:2px solid #666;
    border-radius:10px;
    box-sizing: border-box;
    padding: 10px;
    min-height: 98vh;

    float:left;
    margin:2px 1% 15px 0.4%;
    overflow:auto;
    padding:15px 5px 15px 5px;
    width:79%;
}
aside nav {
    padding-left: 15px;
}

aside a {
    display: block;
}
