/*################
// ar3-tab-1.css  #
################*/
/*--------------------------
https://arza-3d.github.io/ar3.js/

<link href="https://rawgit.com/Arza-3d/ar3js/master/modular/aside-nav/ar3-aside-nav-1.css" rel="stylesheet" type="text/css">
--------------------------*/

body {
    font: 11px Tahoma, arial, sans-serif;
    letter-spacing: 0.02em;
}

a{text-decoration:none}
a,
a:link{color:rgb(225,150,50)}
a:visited{color:rgb(200,120,0)}
a:hover{color:rgb(255,180,0)}
a:active{color:rgb(255,200,0)}

.r3-aside-nav {
    border:2px solid #666;
    border-radius:10px 0 0 10px;
    box-sizing: border-box;
    float: left;
    min-height: 98vh;
    overflow: auto;
    padding: 10px 0 0 5px;
    width: 17%;
}

.r3-aside-nav nav {
    border:1px solid #999;
    border-right: none;
    background-color:#bbb;
    padding: 0 0 2px 15px;
}

.r3-aside-nav a + a {
    margin-top: 2px;
}

.r3-aside-nav nav > a {
    margin-top: 2px;
}

.r3-aside-nav nav + a {
    margin-top: 2px;
}

.r3-aside-nav a + nav {
    margin-top: 0px;
    /*margin: 2px 0 2px 8px;*/
}

.r3-aside-nav a {
    background-color: #363636;
    display: block;
    padding: 3px 0 3px 8px;
    /*margin: 2px;*/
    /*margin: 2px 0 2px 8px;*/
}

.aside-nav-target-r3 * {
    overflow:auto;
}

.aside-nav-target-r3 {
    border:2px solid #666;
    border-radius:10px;
    box-sizing: border-box;
    float:left;
    margin:2px 1% 15px 0.4%;
    min-height: 98vh;
    padding:15px 5px 15px 5px;
    width:79%;
}
