/*################
// ar3-tab-1.css  #
################*/
/*--------------------------
https://arza-3d.github.io/ar3.js/

<link href="https://rawgit.com/Arza-3d/ar3js/master/modular/aside-nav/ar3-aside-nav-1.css" rel="stylesheet" type="text/css">
--------------------------*/

.r3-aside-nav {
    border: grey thin solid;
    min-height: 98vh;
    width: 21%;
    float: left;
    box-sizing: border-box;
    overflow: auto
}

.aside-nav-target-r3 {
    border: grey thin solid;
    float: left;
    width:79%;
    padding: 10px;
    min-height: 98vh;
    box-sizing: border-box;
}
aside nav {
    padding-left: 15px;
}

aside a {
    display: block;
}
