/*######################
// ar3-short-code.css  #
######################*/
/* https://arza-3d.github.io/ar3.js/

<link href="https://rawgit.com/Arza-3d/ar3js/master/modular/short-code/ar3-short-code.css" rel="stylesheet" type="text/css">
--------------------------------------------------------------------------------------------------------------------------*/

/* all of this is only style*/
pre{
    color:#333;
    background-color:#f5f5f5;
    border:1px solid #ccc;
    border-radius:4px;
    margin:3px 0 3px 0;
    padding:3px;
    word-break:break-all;
    word-wrap:break-word;
    overflow:auto;
    font:11px Consolas, monospace
}

.ar3 button{
    cursor:pointer;
    font:13px calibri, arial, sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -webkit-font-kerning:normal !important;
    font-kerning:normal !important
}

.r3-short-code {
    font-size: 11px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
    border: grey thin solid;
    border-radius: 4px;
    color: rgba(0,0,0,0.6);
    display: block;
}
