// <a> colors
$linkColors1: (
    color_a: rgb(225,150,50),
    color_visited: rgb(200,120,0),
    color_hover: rgb(255,180,0),
    color_active: rgb(255,200,0)
);

// code & pre
$codePreColors1: (
    background_c: #eee,
    border_c: #ccc,
    color_c: #333
);

// kbd
$kbd: (
    background_c: #333,
    font_c: #fff
)
