@import 'colors';
@import 'typography';

body, html {
    font: 11px $sans-serif;
    letter-spacing: 0.04em;
}

body {
    padding: 1%
}

p {
    line-height: 18px;
    max-width: 360px;
    text-align: justify;
}

code,
pre {
    background-color: map-get($code-color, code-bg);
    border: thin solid map-get($code-color, code-border);
    border-radius: 3px;
    color: map-get($code-color, code-c);
}

code {
    display: inline-block;
    padding: 1px;
    text-indent: 0;
}

img {
    border-radius: 6px
}

ul,
ol {
    line-height: 180%;
    padding-inline-start: 20px;
}
