@import 'colors';
@import 'typography';
@import 'D:/DOC/WAMP/www/ar3js/stylesheets/utils/media';

body, html {
    background-color: $background-color;
    color: $default-text-color;
    font: 11px $sans-serif;
    letter-spacing: 0.04em;
}

body {
    margin-left: 8px;
}

@media screen and (max-width: $viewport-1st-limit) {

    body {
        margin-left: 2px;
    };

}

p {
    line-height: 18px;
    max-width: 360px;
    text-align: justify;
}

code,
pre {
    background-color: map-get($code-color, code-bg);
    border: thin solid map-get($code-color, code-border);
    border-radius: 3px;
    color: map-get($code-color, code-c);
    line-height: normal;
}

pre {
    margin: 3px 0 3px 0;
}

code {
    display: inline-block;
    padding: 1px;
    text-indent: 0;
}

img {
    border-radius: 6px
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 15px 5% 15px 5%;
    border: 0;
    border-top: 1px solid #aaa;
}

ul,
ol {
    line-height: 180%;
    padding-inline-start: 20px;
}
