.comment-r3 {
    color:rgba(0,0,0,0.25);
    font-style: italic;
}

// colors
.blue-r3 {
    color:blue;
}
.green-r3 {
    color:green;
}
.grey-r3 {
    color:grey;
}
.magenta-r3 {
    color:magenta;
}
.orange-r3 {
    color:orange;
}
.purple-r3 {
    color:purple;
}
.red-r3 {
    color:red;
}
.yellow-r3 {
    color:yellow;
}
