@import 'color-selector';

$link-color : (
    link-d: rgb(225,150,50), // a
    link-l: rgb(225,150,50), // link
    link-v: rgb(200,120,0), // visited
    link-h: rgb(255,180,0), // hover
    link-a: rgb(255,200,0) // active
);

$code-color: (
    code-border: #ccc,
    code-c: #060606,
    code-bg: #eee
);

$table-color : (
    border-c: #949494,
    even-row-c: #e5e5e5,
    odd-row-c: #f5f5f5,
    dob-row-c: #ededed,
    in-border-c: rgba(0,0,0,0.02),
    in-h-border-c: grey,
    th-c: rgb(224,224,224),
    th-bgc: rgb(83,83,83)
);

$tab-color : (
    border-c: grey,
    nav-c: #2c3236,
    nav-a-h-c: #fff, // a hover color
    nav-a-h-bc: #ff5722, // a hover background-color
    nav-a-act-c: #000, // a active color
    bg-c: #fafafa, // background-color
    nav-a-act-hov-c: #000, // a active and hovered
    nav-span: #fff
);

$aside-color : (
    border: #666,
    nav-border: #999,
    nav-bg: #bbb,
    nav-nav-bord-bott: #000,
    nav-nav-bord-left: grey,
    a-bg: #363636,
    a-hov: #fff,
    a-hov-bg: #ff5722
);

$short-code-color : (
  button-bg: rgba(0,0,0,0.05),
  button-c: rgba(0,0,0,0.6)
);
