@import 'colors';

table {
    border-collapse: collapse;
    border-bottom: solid thin map-get($table-color, border-c);
    margin-top: 3px;
    table-layout: fixed;

    > tbody {

        > tr:nth-of-type(even) {
            background-color: map-get($table-color, even-row-c);
        }

        > tr:nth-of-type(odd) {
            background-color: map-get($table-color, odd-row-c);
        }

        > tr > * {
            border-right: thin solid map-get($table-color, in-border-c);
            padding: 2px 5px;
        }

        > tr > *:last-child {
            border-right: none;
        }

        td[rowspan] {
            background-color: map-get($table-color, dob-row-c);
        }

        th {
            text-align: left;
        }

    }

    > thead {

        > tr >  * > * {
            display: block;
            margin: auto;
        }

        > tr:nth-child(2) > th {
            border-left: thin solid map-get($table-color, in-h-border-c);
        }

        th {
            background-color: map-get($table-color, th-bgc);
            color: map-get($table-color, th-c);
            height: 18px;
            text-align: center;
        }

        th[colspan] {
            border-bottom: thin solid map-get($table-color, in-h-border-c);
        }

        th[rowspan] {
            border-left: thin solid map-get($table-color, in-h-border-c);
        }

        th[rowspan] + th {
            border-left: thin solid map-get($table-color, in-h-border-c);
        }

        th[rowspan]:first-child {
            border-left: none;
        }

    }

    caption {
        border: map-get($table-color, border-c) thin solid;
        border-bottom: none;
        border-radius: 6px 6px 0 0;
        font-size: 1.02em;
        font-weight: bold;
        padding: 0.3em
    }

    tr:first-child {
        border-top: solid thin map-get($table-color, border-c);
    }

}
