$sans-serif : Tahoma, calibri arial, sans-serif;
//$sans-serif: 'Niramit', sans-serif;
$sans-serif-form: calibri, arial, sans-serif;
$sans-serif-3: "DejaVu Sans", "Trebuchet MS", arial, sans-serif;
$monospace : Consolas, monospace;
$math: "Cambria Math", Cambria, "Times New Roman", serif;

$main-font: (
    h2-font: $sans-serif-form,
    h3-font: $sans-serif-3
);
