$sans-serif : 'Sarala', Tahoma, calibri arial, sans-serif;
//$sans-serif: 'Niramit', sans-serif;
$sans-serif-form: calibri, arial, sans-serif;
$monospace : 'Roboto Mono', Consolas, monospace;

$main-font: (
    h2-font: $sans-serif-form,
    h3-font: $sans-serif
);
